In [2]:
import pandas as pd
import numpy as np

In [6]:
boys = pd.read_csv('./../boys.csv', index_col=0, header=0)

In [7]:
boys.head()

      age   hgt   wgt    bmi    hc  gen  phb  tv    reg
3   0.035  50.1  3.65  14.54  33.7  NaN  NaN NaN  south
4   0.038  53.5  3.37  11.77  35.0  NaN  NaN NaN  south
18  0.057  50.0  3.14  12.56  35.2  NaN  NaN NaN  south
23  0.060  54.5  4.27  14.37  36.7  NaN  NaN NaN  south
28  0.062  57.5  5.03  15.21  37.3  NaN  NaN NaN  south

In [8]:
boys.isna().sum()

age      0
hgt     20
wgt      4
bmi     21
hc      46
gen    503
phb    503
tv     522
reg      3
dtype: int64

In [9]:
boys.shape

(748, 9)

In [10]:
airquality = pd.read_csv('./../airquality.csv', index_col=0, header=0)

In [11]:
airquality.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [12]:
airquality.shape

(153, 6)

In [14]:
airquality.isna().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64